# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vi
*.swp

# cmake
CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake

# binaries
dng_sdk/projects/linux/dng_validate
sjcam_raw2dng
xmp_sdk/public/libraries

# diff
*.orig
*.rej
*.diff
*.patch
