# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vi
*.swp

# cmake
CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake

# binaries
dng_sdk/projects/linux/dng_validate
dng_sdk/projects/cmake/dng_validate
sjcam_raw2dng
prune_raw
xmp_sdk/public/libraries

# diff
*.orig
*.rej
*.diff
*.patch

# VC
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.VC.db
*.VC.VC.opendb
*.log
*.tlog
*.lastbuildstate
*.suo
*.pdb
*.cache
*.ilk
*.iobj
*.ipdb
*.idb
*.res
*nativecodeanalysis.xml
*nativecodeanalysis.all.xml

# Misc
*~
build
dist
